.intro {
  img {
    width: 70vw;
    margin: auto;
  }
  #mainBtn {
    margin: 3rem auto;
    width: 70vw;
  }
}
@media (max-width: 800px) {
  .intro {
    img {
      width: 90vw;
    }
    #mainBtn {
      width: 90vw;
    }
  }
}
